.collapsedsidebar {
  background-color: #242436;
  color: #cacacf;
}
.collapsedsidebar {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  height: 100%;
}

.collapsedsidebar span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.collapsedsidebar span button {
  border: 0;
  padding: 0;
  background-color: #242436;
}

.collapsedsidebar span button:focus {
  outline: none;
}
.collapsedsidebar span button:hover svg {
  color: white;
}

.collapsedsidebar span button svg {
  color: #cacacf;
}
