.sidebar {
  background-color: #242436;
  color: #cacacf;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.sidebar .header .left-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.sidebar .header button {
  padding: none;
  border: none;
  background-color: #242436;
  margin-right: 20px;
}
.sidebar .header button:focus {
  outline: none;
}
.sidebar .header button:hover svg {
  color: white;
}
.sidebar .header .left-div h5 {
  margin-top: 8px;
  color: white;
  font-size: 20px;
}
.sidebar svg {
  color: #5d5d6e;
}
.sidebar .header .left-div div {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background-image: url("./k.jpeg");
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}

.sidebar .dashboards-div .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.sidebar .dashboards-div .header div {
  margin-left: 20px;
}
.sidebar .dashboards-div .header .fa-angle-down {
  margin-right: 25px;
}

.sidebar .dashboards-div .header div span {
  margin-left: 5px;
  font-size: 18px;
}
.sidebar .dashboards-div li {
  padding: 10px 20px 10px 30px;
  font-size: 14px;
}

.sidebar .components-div .header {
  height: 50px;
  font-size: 14px;
  align-items: center;
  margin-left: 20px;
}

.sidebar .components-div li {
  list-style: none;
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .components-div li svg {
  margin-right: 10px;
}

/* 
@media screen and (max-width: 950) {
  .sidebar .header .left-div h5 {
  }
  .sidebar .dashboards-div .header div span {
  }
  .sidebar .dashboards-div li {
  }
  .sidebar .components-div .header {
  }
  .sidebar .components-div li {
  }
} */

@media screen and (max-width: 950px) {
  .sidebar .header .left-div {
    margin-left: 10px;
  }
  .sidebar .header button {
    margin-right: 10px;
  }
  .sidebar .dashboards-div .header div {
    margin-left: 10px;
  }
  .sidebar .dashboards-div .header .fa-angle-down {
    margin-right: 15px;
  }
  .sidebar .components-div .header {
    margin-left: 10px;
  }
  .sidebar .dashboards-div li {
    padding: 10px 20px 10px 20px;
  }
  .sidebar .components-div li {
    padding: 10px 10px 10px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar .header .left-div h5 {
    font-size: 18px;
  }
  .sidebar .dashboards-div .header div span {
    font-size: 15px;
  }
  .sidebar .dashboards-div li {
    font-size: 12px;
  }
  .sidebar .components-div .header {
    font-size: 12px;
  }
  .sidebar .components-div li {
    font-size: 13px;
  }
}

@media screen and (max-width: 766px) {
  .sidebar .header .left-div h5 {
    font-size: 18px;
  }
  .sidebar .dashboards-div .header div span {
    font-size: 14px;
  }
  .sidebar .dashboards-div .header div svg {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .sidebar .header .left-div {
    margin-left: 5px;
  }
  .sidebar .header button {
    margin-right: 5px;
  }
  .sidebar .dashboards-div .header div {
    margin-left: 5px;
  }
  .sidebar .dashboards-div .header .fa-angle-down {
    margin-right: 10px;
  }
  .sidebar .components-div .header {
    margin-left: 5px;
  }
  .sidebar .dashboards-div li {
    padding: 10px 20px 10px 15px;
  }
  .sidebar .components-div li {
    padding: 10px 10px 10px 15px;
  }
}

@media screen and (max-width: 666px) {
  .sidebar .header .left-div h5 {
    font-size: 15px;
  }
  .sidebar .dashboards-div .header div span {
    font-size: 13px;
  }
  .sidebar .dashboards-div .header div .fa-angle-down {
    font-size: 10px;
  }
  .sidebar .dashboards-div li {
    font-size: 10px;
  }
  .sidebar .components-div li {
    font-size: 12px;
  }
}
